




astroid==2.3.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==20.3.0
chardet==3.0.4
colorama==0.4.3
idna==2.9
isort==5.9.1



lazy-object-proxy==1.6.0

mccabe==0.6.1
more-itertools==8.6.0
multidict==5.1.0
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1


pylint==2.9.3

py==1.10.0

pyparsing==2.4.7
pytest==6.1.2
pytest-asyncio==0.10.0
pytest-mock==3.6.1
six==1.14.0
wcwidth==0.1.8
wrapt==1.12.1
yarl==1.4.2


aiohttp==3.7.2


aiofiles==0.6.0

aioresponses==0.7.1

