aiofiles==0.4.0
aiohttp==3.7.2
aioresponses==0.6.3
astroid==2.3.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
chardet==3.0.4
colorama==0.4.3
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
multidict==4.7.4
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pylint==2.4.4
pyparsing==2.4.6
pytest==5.3.5
pytest-asyncio==0.10.0
pytest-mock==2.0.0
six==1.14.0
wcwidth==0.1.8
wrapt==1.11.2
yarl==1.4.2
